* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
	height:60px;
}
.navbar-brand h1 { /* Brand Name */
  margin-top:0px;
  margin-bottom:15px;
  font-size: 35px;
  color: black;
  text-align: left;
  padding:0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	/*text-decoration: none;*/
}

#nav-list {
	text-align: center;
	background-color: #76ef76;
	color:black;
	font-size:2em;
	/*border-color:black;
	border: 1px;*/
}
#navlist a{
	color: black;
	font-size: 24;
}
#nav-list li{
  color: white;
  background: #81d0cb;
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 2em;
  border-bottom: 2px solid white;
  list-style-type: none!important;
  font-weight: bold; /*好みで太字に*/
}
h1{           /* Our Menu */
	padding-bottom: 40px;
}
.row section{
	padding:10px;
	height:1000px;
}
section div {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1.5em;
}
section {	height: 1000px;
	width: 90%;
	background-color: white;
	color:black;
	border:0px;
	margin-bottom: 30px;
}

@media (max-width: 767px) { 	section {margin-left:33px;}    }  /* xs device */